html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

 .hover-effect {
   transition: filter 0.3s ease-in-out;
   cursor: pointer;
 }

.hover-effect:hover {
  filter: brightness(85%);
}

form label {
  padding: 5px;
}